<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="dbConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=sqlserver; Integrated Security=True;" />
  </connectionStrings>
</configuration>